<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--Page CSS-->
        {% block css %}{% endblock %}
        <!--bootstrap-->
        <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet" id="bootstrap-css">
        <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>

        <!--jQuery-->
        <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js')}}"></script>

        <title>{% block title %}Achei{% endblock %}</title>
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="{{ url_for('index') }}">Achei!</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                    </li>
                  </ul>
                </div>
            </nav>
        </header>
    {% block content %}
    {% endblock %}
    </body>
</html>