{% extends 'base.html' %}

{% block content %}

<form method="POST" action="">
    {{ form.csrf_token }}
    <div class="container col-md-6">
        <h2>Marcar Como Devolvido</h2>
        <div class="form-group" >
            <label>Nome do dono:                
                {{ form.name_owner(class="form-control", placeholder="nome" )}}
            </label>
        </div>
        <div class="form-group">
            <label>CPF:
            {{ form.cpf_owner(class="form-control", placeholder="CPF do dono")}}
            </label>
        </div>
        <input class="btn btn-success" type="submit" value="Devolver">
  </form>


{% endblock%}