{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h1>Pagina inicial</h1> 
    {% if posts == [] %}
    <div class="card" style="background-color: rgba( 231,95,95, 1);">
        <h3>Ainda Não Há Objetos Perdidos Postados</h3>
    </div>
    {% else %}
    {% for item in posts %}
    <div class="card d-inline-block" style="width: 17rem">
        <img class="card-img-top" src="/static/images/{{ item.image_path }}" >
        <div class="card-body">
            <p class="card-text"><img src="/static/svg/location-pin.svg" width="18px" alt="Local"> {{ item.content }}</p>
        </div>
    </div>
    {% endfor %}
    {% endif %}
</div>

{% endblock%}