{% extends 'base.html' %}

{%block title%}{{super()}} | Register{% endblock %}

{% block logout %}<a class="btn btn-danger" href="{{url_for('logout')}}">Logout</a>{% endblock %}

{% block content %}

<form method="POST" action="">
    {{ form.csrf_token }}
    <div class="container col-md-6">
        <h2>Cadastrar Novo Usuário</h2>
        <div class="form-group" >
            <label>Usuário                
                {{ form.username(class="form-control", placeholder="usuário" )}}
            </label>
        </div>
        <div class="form-group">
            <label>Senha
            {{ form.password(class="form-control", placeholder="senha")}}
            </label>
        </div>
        <input class="btn btn-success" type="submit" value="cadastrar">
  </form>

{% endblock%}