{% extends 'base.html' %}

{%block title%}{{super()}} | Upload{% endblock %}

{% block logout %}<a class="btn btn-danger" href="{{url_for('logout')}}">Logout</a>{% endblock %}

{% block content %}
<form method="POST" enctype="multipart/form-data" action="{{ url_for('upload_file') }}">
    <div class="container col-md-6">
        <h2>Upload</h2>
        <div class="form-group">
            <label for="image">Escolha o arquivo: 
                <input type="file" name="image" accept="image/png, image/jpeg" >
            </label>
        </div>
        {{ form.csrf_token }}
        <div class="form-group">
            <label>Local
            {{ form.local(class="form-control", placeholder="local onde está o objeto")}}
            </label>
        </div>
        <input class="btn btn-primary" type="submit" value="send">
  </form>
{% endblock %}